<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <filter-name>allFilter</filter-name>
        <filter-class>com.gmail.pratikabu.extremity.servlets.AllFilter</filter-class>
    </filter>
    <filter>
        <filter-name>examFilter</filter-name>
        <filter-class>com.gmail.pratikabu.extremity.servlets.ExamFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/HomePage.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/testCenter/TestCenter.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/testCenter/QuestionMenu.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/testCenter/QuestionView.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/testCenter/TestDisplay.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/testCenter/TestPassword.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/testCenter/TestCompleted.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/testCenter/ConfirmEndTest.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/reportCenter/ReportCenter.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/reportCenter/ReportDisplay.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>examFilter</filter-name>
        <url-pattern>/testCenter/QuestionPage.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>examFilter</filter-name>
        <url-pattern>/testCenter/QuestionMenu.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>examFilter</filter-name>
        <url-pattern>/processQuestion</url-pattern>
    </filter-mapping>
    <servlet>
        <description>Is used for logout purposes.</description>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet for login. It will redirect to the
student home page. when a student logins
else redirects to the under develop page
for employees.</description>
        <servlet-name>loginAssist</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.LoginAssistant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processRegistry</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.ProcessRegistry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processQuestion</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.ProcessQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nextQuestion</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.NextQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>previousQuestion</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.PreviousQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>endTest</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.EndTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerStudent</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.RegisterStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportInitializer</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.ReportInitializer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTestPassword</servlet-name>
        <servlet-class>com.gmail.pratikabu.extremity.servlets.ProcessTestPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAssist</servlet-name>
        <url-pattern>/loginAssist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processRegistry</servlet-name>
        <url-pattern>/processRegistry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processQuestion</servlet-name>
        <url-pattern>/processQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nextQuestion</servlet-name>
        <url-pattern>/nextQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>previousQuestion</servlet-name>
        <url-pattern>/previousQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>endTest</servlet-name>
        <url-pattern>/endTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerStudent</servlet-name>
        <url-pattern>/registerStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportInitializer</servlet-name>
        <url-pattern>/reportInitializer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTestPassword</servlet-name>
        <url-pattern>/processTestPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        </welcome-file-list>
    <error-page>
        <error-code>405</error-code>
        <location>/errorPages/error405.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPages/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPages/error500.jsp</location>
    </error-page>
    </web-app>
